.cover-section{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 242, 246);
    margin-bottom: 10px;
}

.cover-section h1{
    font-size: 20pt;
    font-family: 'arial';
}

.info-section{
    width: 100%;
}

.info-section{
    width: 80%;
    margin: auto;
}

.info-section p{
    width: 100%;
    font-size: 12pt;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'arial';
    text-align: justify;
}

.info-section h1{
    width: 100%;
    font-size: 18pt;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'arial';
    text-align: justify;
}

.info-section h2{
    width: 100%;
    font-size: 14pt;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'arial';
    text-align: justify;
}

@media (max-width:600px){
    .cover-section{
        height: 70px;
    }
    
    .cover-section h1{
        font-size: 14pt;
    }

    .info-section{
        width: 90%;
    }

    .info-section p{
        width: 100%;
        font-size: 8pt;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .info-section h1{
        width: 100%;
        font-size: 14pt;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .info-section h2{
        width: 100%;
        font-size: 10pt;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width:450px){
    .cover-section{
        height: 50px;
    }

    .cover-section h1{
        font-size: 10pt;
    }
}